services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vy_langs
    volumes:
      - vy_pgdata:/var/lib/postgresql/data
volumes:
  vy_pgdata:
